<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>一九一一</key>
	<string>0x0a5b6</string>
	<key>一九一七</key>
	<string>0x0ada2</string>
	<key>一九一三</key>
	<string>0x0d250</string>
	<key>一九一九</key>
	<string>0x14977</string>
	<key>一九一二</key>
	<string>0x0a4d0</string>
	<key>一九一五</key>
	<string>0x0b540</string>
	<key>一九一八</key>
	<string>0x095b0</string>
	<key>一九一六</key>
	<string>0x0d6a0</string>
	<key>一九一四</key>
	<string>0x1d255</string>
	<key>一九一零</key>
	<string>0x04ae0</string>
	<key>一九七一</key>
	<string>0x04dd5</string>
	<key>一九七七</key>
	<string>0x0b540</string>
	<key>一九七三</key>
	<string>0x0a4d0</string>
	<key>一九七九</key>
	<string>0x195a6</string>
	<key>一九七二</key>
	<string>0x04ad0</string>
	<key>一九七五</key>
	<string>0x0d250</string>
	<key>一九七八</key>
	<string>0x0b5a0</string>
	<key>一九七六</key>
	<string>0x0d558</string>
	<key>一九七四</key>
	<string>0x0d4d4</string>
	<key>一九七零</key>
	<string>0x096d0</string>
	<key>一九三一</key>
	<string>0x0d4a0</string>
	<key>一九三七</key>
	<string>0x092e0</string>
	<key>一九三三</key>
	<string>0x06e95</string>
	<key>一九三九</key>
	<string>0x0c950</string>
	<key>一九三二</key>
	<string>0x0ea50</string>
	<key>一九三五</key>
	<string>0x02b60</string>
	<key>一九三八</key>
	<string>0x1c8d7</string>
	<key>一九三六</key>
	<string>0x186e3</string>
	<key>一九三四</key>
	<string>0x05ad0</string>
	<key>一九三零</key>
	<string>0x06566</string>
	<key>一九九一</key>
	<string>0x04970</string>
	<key>一九九七</key>
	<string>0x0ab60</string>
	<key>一九九三</key>
	<string>0x074a3</string>
	<key>一九九九</key>
	<string>0x092e0</string>
	<key>一九九二</key>
	<string>0x064b0</string>
	<key>一九九五</key>
	<string>0x06b58</string>
	<key>一九九八</key>
	<string>0x096d5</string>
	<key>一九九六</key>
	<string>0x055c0</string>
	<key>一九九四</key>
	<string>0x0ea50</string>
	<key>一九九零</key>
	<string>0x04af5</string>
	<key>一九二一</key>
	<string>0x0a4b0</string>
	<key>一九二七</key>
	<string>0x09570</string>
	<key>一九二三</key>
	<string>0x06a50</string>
	<key>一九二九</key>
	<string>0x04970</string>
	<key>一九二二</key>
	<string>0x0b4b5</string>
	<key>一九二五</key>
	<string>0x1ab54</string>
	<key>一九二八</key>
	<string>0x052f2</string>
	<key>一九二六</key>
	<string>0x02b60</string>
	<key>一九二四</key>
	<string>0x06d40</string>
	<key>一九二零</key>
	<string>0x04970</string>
	<key>一九五一</key>
	<string>0x0b550</string>
	<key>一九五七</key>
	<string>0x0a9a8</string>
	<key>一九五三</key>
	<string>0x04da0</string>
	<key>一九五九</key>
	<string>0x06aa0</string>
	<key>一九五二</key>
	<string>0x15355</string>
	<key>一九五五</key>
	<string>0x14573</string>
	<key>一九五八</key>
	<string>0x0e950</string>
	<key>一九五六</key>
	<string>0x052d0</string>
	<key>一九五四</key>
	<string>0x0a5d0</string>
	<key>一九五零</key>
	<string>0x06ca0</string>
	<key>一九八一</key>
	<string>0x049b0</string>
	<key>一九八七</key>
	<string>0x0af46</string>
	<key>一九八三</key>
	<string>0x0a4b0</string>
	<key>一九八九</key>
	<string>0x09570</string>
	<key>一九八二</key>
	<string>0x0a974</string>
	<key>一九八五</key>
	<string>0x06a50</string>
	<key>一九八八</key>
	<string>0x0ab60</string>
	<key>一九八六</key>
	<string>0x06d40</string>
	<key>一九八四</key>
	<string>0x0b27a</string>
	<key>一九八零</key>
	<string>0x095b0</string>
	<key>一九六一</key>
	<string>0x0ab50</string>
	<key>一九六七</key>
	<string>0x0d950</string>
	<key>一九六三</key>
	<string>0x0aae4</string>
	<key>一九六九</key>
	<string>0x056a0</string>
	<key>一九六二</key>
	<string>0x04b60</string>
	<key>一九六五</key>
	<string>0x05260</string>
	<key>一九六八</key>
	<string>0x05b57</string>
	<key>一九六六</key>
	<string>0x0f263</string>
	<key>一九六四</key>
	<string>0x0a570</string>
	<key>一九六零</key>
	<string>0x0aea6</string>
	<key>一九四一</key>
	<string>0x1d8a6</string>
	<key>一九四七</key>
	<string>0x0d2b2</string>
	<key>一九四三</key>
	<string>0x056a0</string>
	<key>一九四九</key>
	<string>0x0b557</string>
	<key>一九四二</key>
	<string>0x0b550</string>
	<key>一九四五</key>
	<string>0x025d0</string>
	<key>一九四八</key>
	<string>0x0a950</string>
	<key>一九四六</key>
	<string>0x092d0</string>
	<key>一九四四</key>
	<string>0x1a5b4</string>
	<key>一九四零</key>
	<string>0x0d4a0</string>
	<key>一九零一</key>
	<string>0x04ae0</string>
	<key>一九零七</key>
	<string>0x056a0</string>
	<key>一九零三</key>
	<string>0x054d5</string>
	<key>一九零九</key>
	<string>0x055d2</string>
	<key>一九零二</key>
	<string>0x0a570</string>
	<key>一九零五</key>
	<string>0x0d950</string>
	<key>一九零八</key>
	<string>0x09ad0</string>
	<key>一九零六</key>
	<string>0x16554</string>
	<key>一九零四</key>
	<string>0x0d260</string>
	<key>二零一一</key>
	<string>0x0b4a0</string>
	<key>二零一七</key>
	<string>0x15176</string>
	<key>二零一三</key>
	<string>0x0ad50</string>
	<key>二零一九</key>
	<string>0x0a930</string>
	<key>二零一二</key>
	<string>0x0baa4</string>
	<key>二零一五</key>
	<string>0x04ba0</string>
	<key>二零一八</key>
	<string>0x052b0</string>
	<key>二零一六</key>
	<string>0x0a5b0</string>
	<key>二零一四</key>
	<string>0x055d9</string>
	<key>二零一零</key>
	<string>0x0a950</string>
	<key>二零三一</key>
	<string>0x076a3</string>
	<key>二零三七</key>
	<string>0x0d250</string>
	<key>二零三三</key>
	<string>0x04bd7</string>
	<key>二零三九</key>
	<string>0x0dd45</string>
	<key>二零三二</key>
	<string>0x096d0</string>
	<key>二零三五</key>
	<string>0x0a4d0</string>
	<key>二零三八</key>
	<string>0x0d520</string>
	<key>二零三六</key>
	<string>0x1d0b6</string>
	<key>二零三四</key>
	<string>0x04ad0</string>
	<key>二零三零</key>
	<string>0x05aa0</string>
	<key>二零二一</key>
	<string>0x06aa0</string>
	<key>二零二七</key>
	<string>0x0d260</string>
	<key>二零二三</key>
	<string>0x05b52</string>
	<key>二零二九</key>
	<string>0x0d530</string>
	<key>二零二二</key>
	<string>0x0ad50</string>
	<key>二零二五</key>
	<string>0x0a6e6</string>
	<key>二零二八</key>
	<string>0x0ea65</string>
	<key>二零二六</key>
	<string>0x0a4e0</string>
	<key>二零二四</key>
	<string>0x04b60</string>
	<key>二零二零</key>
	<string>0x07954</string>
	<key>二零四一</key>
	<string>0x056d0</string>
	<key>二零四七</key>
	<string>0x1b255</string>
	<key>二零四三</key>
	<string>0x049b0</string>
	<key>二零四九</key>
	<string>0x0ada0</string>
	<key>二零四二</key>
	<string>0x055b2</string>
	<key>二零四五</key>
	<string>0x0a4b0</string>
	<key>二零四八</key>
	<string>0x06d20</string>
	<key>二零四六</key>
	<string>0x0aa50</string>
	<key>二零四四</key>
	<string>0x0a577</string>
	<key>二零四零</key>
	<string>0x0b5a0</string>
	<key>二零零一</key>
	<string>0x0d954</string>
	<key>二零零七</key>
	<string>0x025d0</string>
	<key>二零零三</key>
	<string>0x0da50</string>
	<key>二零零九</key>
	<string>0x0cab5</string>
	<key>二零零二</key>
	<string>0x0d4a0</string>
	<key>二零零五</key>
	<string>0x056a0</string>
	<key>二零零八</key>
	<string>0x092d0</string>
	<key>二零零六</key>
	<string>0x0abb7</string>
	<key>二零零四</key>
	<string>0x07552</string>
	<key>二零零零</key>
	<string>0x0c960</string>
</dict>
</plist>
