<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>一九一一</key>
	<string>1911</string>
	<key>一九一七</key>
	<string>1917</string>
	<key>一九一三</key>
	<string>1913</string>
	<key>一九一九</key>
	<string>1919</string>
	<key>一九一二</key>
	<string>1912</string>
	<key>一九一五</key>
	<string>1915</string>
	<key>一九一八</key>
	<string>1918</string>
	<key>一九一六</key>
	<string>1916</string>
	<key>一九一四</key>
	<string>1914</string>
	<key>一九一零</key>
	<string>1910</string>
	<key>一九七一</key>
	<string>1971</string>
	<key>一九七七</key>
	<string>1977</string>
	<key>一九七三</key>
	<string>1973</string>
	<key>一九七九</key>
	<string>1979</string>
	<key>一九七二</key>
	<string>1972</string>
	<key>一九七五</key>
	<string>1975</string>
	<key>一九七八</key>
	<string>1978</string>
	<key>一九七六</key>
	<string>1976</string>
	<key>一九七四</key>
	<string>1974</string>
	<key>一九七零</key>
	<string>1970</string>
	<key>一九三一</key>
	<string>1931</string>
	<key>一九三七</key>
	<string>1937</string>
	<key>一九三三</key>
	<string>1933</string>
	<key>一九三九</key>
	<string>1939</string>
	<key>一九三二</key>
	<string>1932</string>
	<key>一九三五</key>
	<string>1935</string>
	<key>一九三八</key>
	<string>1938</string>
	<key>一九三六</key>
	<string>1936</string>
	<key>一九三四</key>
	<string>1934</string>
	<key>一九三零</key>
	<string>1930</string>
	<key>一九九一</key>
	<string>1991</string>
	<key>一九九七</key>
	<string>1997</string>
	<key>一九九三</key>
	<string>1993</string>
	<key>一九九九</key>
	<string>1999</string>
	<key>一九九二</key>
	<string>1992</string>
	<key>一九九五</key>
	<string>1995</string>
	<key>一九九八</key>
	<string>1998</string>
	<key>一九九六</key>
	<string>1996</string>
	<key>一九九四</key>
	<string>1994</string>
	<key>一九九零</key>
	<string>1990</string>
	<key>一九二一</key>
	<string>1921</string>
	<key>一九二七</key>
	<string>1927</string>
	<key>一九二三</key>
	<string>1923</string>
	<key>一九二九</key>
	<string>1929</string>
	<key>一九二二</key>
	<string>1922</string>
	<key>一九二五</key>
	<string>1925</string>
	<key>一九二八</key>
	<string>1928</string>
	<key>一九二六</key>
	<string>1926</string>
	<key>一九二四</key>
	<string>1924</string>
	<key>一九二零</key>
	<string>1920</string>
	<key>一九五一</key>
	<string>1951</string>
	<key>一九五七</key>
	<string>1957</string>
	<key>一九五三</key>
	<string>1953</string>
	<key>一九五九</key>
	<string>1959</string>
	<key>一九五二</key>
	<string>1952</string>
	<key>一九五五</key>
	<string>1955</string>
	<key>一九五八</key>
	<string>1958</string>
	<key>一九五六</key>
	<string>1956</string>
	<key>一九五四</key>
	<string>1954</string>
	<key>一九五零</key>
	<string>1950</string>
	<key>一九八一</key>
	<string>1981</string>
	<key>一九八七</key>
	<string>1987</string>
	<key>一九八三</key>
	<string>1983</string>
	<key>一九八九</key>
	<string>1989</string>
	<key>一九八二</key>
	<string>1982</string>
	<key>一九八五</key>
	<string>1985</string>
	<key>一九八八</key>
	<string>1988</string>
	<key>一九八六</key>
	<string>1986</string>
	<key>一九八四</key>
	<string>1984</string>
	<key>一九八零</key>
	<string>1980</string>
	<key>一九六一</key>
	<string>1961</string>
	<key>一九六七</key>
	<string>1967</string>
	<key>一九六三</key>
	<string>1963</string>
	<key>一九六九</key>
	<string>1969</string>
	<key>一九六二</key>
	<string>1962</string>
	<key>一九六五</key>
	<string>1965</string>
	<key>一九六八</key>
	<string>1968</string>
	<key>一九六六</key>
	<string>1966</string>
	<key>一九六四</key>
	<string>1964</string>
	<key>一九六零</key>
	<string>1960</string>
	<key>一九四一</key>
	<string>1941</string>
	<key>一九四七</key>
	<string>1947</string>
	<key>一九四三</key>
	<string>1943</string>
	<key>一九四九</key>
	<string>1949</string>
	<key>一九四二</key>
	<string>1942</string>
	<key>一九四五</key>
	<string>1945</string>
	<key>一九四八</key>
	<string>1948</string>
	<key>一九四六</key>
	<string>1946</string>
	<key>一九四四</key>
	<string>1944</string>
	<key>一九四零</key>
	<string>1940</string>
	<key>一九零一</key>
	<string>1901</string>
	<key>一九零七</key>
	<string>1907</string>
	<key>一九零三</key>
	<string>1903</string>
	<key>一九零九</key>
	<string>1909</string>
	<key>一九零二</key>
	<string>1902</string>
	<key>一九零五</key>
	<string>1905</string>
	<key>一九零八</key>
	<string>1908</string>
	<key>一九零六</key>
	<string>1906</string>
	<key>一九零四</key>
	<string>1904</string>
	<key>二零一一</key>
	<string>2011</string>
	<key>二零一七</key>
	<string>2017</string>
	<key>二零一三</key>
	<string>2013</string>
	<key>二零一九</key>
	<string>2019</string>
	<key>二零一二</key>
	<string>2012</string>
	<key>二零一五</key>
	<string>2015</string>
	<key>二零一八</key>
	<string>2018</string>
	<key>二零一六</key>
	<string>2016</string>
	<key>二零一四</key>
	<string>2014</string>
	<key>二零一零</key>
	<string>2010</string>
	<key>二零三一</key>
	<string>2031</string>
	<key>二零三七</key>
	<string>2037</string>
	<key>二零三三</key>
	<string>2033</string>
	<key>二零三九</key>
	<string>2039</string>
	<key>二零三二</key>
	<string>2032</string>
	<key>二零三五</key>
	<string>2035</string>
	<key>二零三八</key>
	<string>2038</string>
	<key>二零三六</key>
	<string>2036</string>
	<key>二零三四</key>
	<string>2034</string>
	<key>二零三零</key>
	<string>2030</string>
	<key>二零二一</key>
	<string>2021</string>
	<key>二零二七</key>
	<string>2027</string>
	<key>二零二三</key>
	<string>2023</string>
	<key>二零二九</key>
	<string>2029</string>
	<key>二零二二</key>
	<string>2022</string>
	<key>二零二五</key>
	<string>2025</string>
	<key>二零二八</key>
	<string>2028</string>
	<key>二零二六</key>
	<string>2026</string>
	<key>二零二四</key>
	<string>2024</string>
	<key>二零二零</key>
	<string>2020</string>
	<key>二零四一</key>
	<string>2041</string>
	<key>二零四七</key>
	<string>2047</string>
	<key>二零四三</key>
	<string>2043</string>
	<key>二零四九</key>
	<string>2049</string>
	<key>二零四二</key>
	<string>2042</string>
	<key>二零四五</key>
	<string>2045</string>
	<key>二零四八</key>
	<string>2048</string>
	<key>二零四六</key>
	<string>2046</string>
	<key>二零四四</key>
	<string>2044</string>
	<key>二零四零</key>
	<string>2040</string>
	<key>二零零一</key>
	<string>2001</string>
	<key>二零零七</key>
	<string>2007</string>
	<key>二零零三</key>
	<string>2003</string>
	<key>二零零九</key>
	<string>2009</string>
	<key>二零零二</key>
	<string>2002</string>
	<key>二零零五</key>
	<string>2005</string>
	<key>二零零八</key>
	<string>2008</string>
	<key>二零零六</key>
	<string>2006</string>
	<key>二零零四</key>
	<string>2004</string>
	<key>二零零零</key>
	<string>2000</string>
</dict>
</plist>
